{% extends 'base.html' %}
{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
{% block css_files %}
    <link rel="stylesheet" href="{% static "information_retrieve/indexing.css" %}">
{% endblock %}

{% block content %}
    <div class="container">
        <img style="margin-left: 70px" src="../../static/information_retrieve/image/search.png">
        <p style="color: midnightblue ; font-size: 40px; font-family: 'Cormorant SC', serif; margin-left: 80px">Inverted Index</p>
        <button class="search__btn">
            <a style="color: black;text-decoration: none;" href="{% url "information_retrieve:search" %}">Search</a>
        </button>
        <button class="upload__btn" >
            <a style="color: black;text-decoration: none" href="{% url "information_retrieve:upload" %}">Upload</a>
        </button>
    </div>
    <div class="container1">
        {% for key, value in dict.items %}
        <p style="color: black">{{ key }}:{{ value }}</p>
        {% endfor %}
    </div>


{% endblock %}